{% extends "layout.html" %}

{% block title %}
    Portfolio 
{% endblock %}

{% block main %}
    <br><br>
    <table class="table">
        <tr>
            
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    {% for stock in stocks %}
           <tr>
           <td>{{stock.symbol}}</td>
           <td>{{stock.name}}</td>
           <td>{{stock.shares}}</td>
           <td>{{stock.price}}</td>
           <td>{{stock.subtotal}}</td>
           </tr>
    {% endfor %}    
            <tr>
            <td colspan="4"><i>CASH</i></td>
            <td>{{cash}}</td>
            </tr>
            
            <tr>
            <td colspan="4"><i></i></td>
            <td><b>{{grandtotal}}</b></td>
            </tr>

{% endblock %}
